.Forecast {
  text-align: center;

  width: fit-content !important;
}
.forecast-day-container {
  background-color: white;
  padding: 8px 12px;
  border-radius: 6px;
}
.forecast-day {
  font-size: 14px;
  font-weight: 500;
}
.forecast-temp {
  font-size: 15px;
}
.min-temp {
  opacity: 0.75;
}
